<footer class="site-footer">
  <div class="site-footer__grid">
    <div class="site-footer__brand">
      <picture><source srcset="{{ROOT}}assets/img/altus-logo-white.webp" type="image/webp"><img src="{{ROOT}}assets/img/altus-logo-white.png" alt="Altus Clinical Research" width="94" height="48" loading="lazy"></picture>
      <p>Advancing diversity through clinical trials, one community at a time. Lake Worth Beach, FL.</p>
    </div>
    <div><div class="site-footer__h">Explore</div><div class="site-footer__col"><a href="{{ROOT}}expertise/">Expertise</a><a href="{{ROOT}}volunteers/">Volunteers</a><a href="{{ROOT}}studies/">Studies</a><a href="{{ROOT}}sponsors/">Sponsors</a></div></div>
    <div><div class="site-footer__h">Company</div><div class="site-footer__col"><a href="{{ROOT}}team/">Our Team</a><a href="{{ROOT}}contact/">Contact</a></div></div>
    <div><div class="site-footer__h">Contact</div><div class="site-footer__col"><a href="tel:+15616410404">561-641-0404</a><span>4671 S. Congress Ave., Suite 100-B</span><span>Lake Worth, FL 33461</span></div></div>
    <div><div class="site-footer__h">Follow</div><div class="site-footer__col"><a href="https://www.instagram.com/altusresearch/" target="_blank" rel="noopener">Instagram</a><a href="https://www.facebook.com/AltusResearch/" target="_blank" rel="noopener">Facebook</a><a href="https://twitter.com/altusresearch" target="_blank" rel="noopener">Twitter</a></div></div>
  </div>
  <div class="site-footer__legal">© 2005–2026 Altus Clinical Research. All rights reserved.</div>
</footer>
